<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="reversiConfig" type="ReversiConsole.ReversiConfigHandler, ReversiConsole" restartOnExternalChanges="false" />
  </configSections>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <reversiConfig name="reversiConfig">
    <players>
      <add name="SamplePlayer" className="ReversiPlayers.SamplePlayer" />
    </players>
  </reversiConfig>
</configuration>